<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">

		<h:form id="animeform">
			<h:panelGrid columns="2">

				<h:outputText value="#{msg.animeTitleLabel}" />
				<h:inputText id="Title" value="#{animeBean.anime.Title}"
					required="#{true}" />

				<h:outputText value="#{msg.animeEPLabel}" />
				<h:inputText id="episodes" value="#{animeBean.anime.episodes}"
					validator="#{animeBean.uniquePin}" required="#{true}">
					<f:validator validatorId="pinValidator" />
					<f:ajax execute="@this" render="messages beanState" />
				</h:inputText>

				<h:outputText value="#{msg.animeGenreLabel}" />
				<h:inputText id="genre" value="#{animeBean.anime.Genre}">
				</h:inputText>

				<h:outputText value="#{msg.animeYearLabel}" />
				<h:inputText id="zipCode" value="#{animeBean.anime.Year}" />

				<h:outputText value="#{msg.animeStudioLabel}" />
				<h:inputText id="weight" value="#{animeBean.anime.Studio}">
				</h:inputText>

			</h:panelGrid>

			<h:commandButton value="#{msg.animeFormOKButton}"
				action="#{animeBean.addAnime}" />


			<h:panelGrid>
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

			<h:panelGrid id="beanState" columns="2">
				<h:outputText value="#{msg.animeTitleLabel}" />
				<h:outputText id="titleOutput" value="#{animeBean.anime.Title}" />

				<h:outputText value="#{msg.animeEpLabel}" />
				<h:outputText id="episodesOutput" value="#{animeBean.anime.episodes}" />

				<h:outputText value="#{msg.animeGenreLabel}" />
				<h:outputText id="genreOutput"
					value="#{animeBean.anime.Genre}" />
			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>