<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<ui:define name="content">
		<h:form id="animeform">
			<h:panelGrid columns="2">
			
				<h:outputText value="#{msg.animeTitleLabel}" />
				<h:inputText id="name" value="#{animeBean.anime.Title}">
					<a4j:ajax render="messages" execute="@this" />
				</h:inputText>

				<h:outputText value="#{msg.animeEpLabel}" />
				<h:inputText id="pin" value="#{animeBean.anime.episodes}" />


				<h:outputText value="#{msg.animeGenreLabel}" />
				<rich:calendar value="#{animeBean.anime.Genre}"
					id="genre" showApplyButton="#{true}">
					<a4j:ajax render="messages" execute="@this" />
				</rich:calendar>
			</h:panelGrid>

			<h:panelGrid>
				<h:messages for="" />
				<h:messages id="messages" showDetail="#{true}"
					showSummary="#{false}" />
			</h:panelGrid>

			<a4j:outputPanel ajaxRendered="true">
				<h:panelGrid columns="2">

					<h:outputText value="#{msg.animeTitleLabel}" />
					<h:outputText id="titleOutput"
						value="#{animeBean.anime.Title}" />

					<h:outputText value="#{msg.animeEpLabel}" />
					<h:outputText id="episodesOutput" value="#{animeBean.anime.episodes}" />


					<h:outputText value="#{msg.animeGenreLabel}" />
					<h:outputText id="genreOutput"
						value="#{animeBean.anime.Genre}" />

				</h:panelGrid>
			</a4j:outputPanel>
		</h:form>

	</ui:define>
</ui:composition>