<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{animeBean.allAnimes}" var="item">
      <f:facet name="header">#{msg.animeAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">#{msg.animeTitleLabel}</f:facet>
        #{item.firstName}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.animeEPLabel}</f:facet>
        #{item.pin}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg.action}</f:facet>
        <h:commandLink value="#{msg.actionDelete}" action="#{animeBean.deleteAnime}"/>
      </h:column>
      
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>